<footer>
    <div class="footer-main">
        <div class="footer-col" style="grid-column: span 1.5;">
            <h4>قمة التميز</h4>
          <p>نقدم حلولًا احترافية تدعم نمو الشركات وتطوير أعمالها، ونساعد المؤسسات على اتخاذ قرارات استراتيجية مبنية على بيانات دقيقة.</p>
        </div>

        <div class="footer-col">
            <h4>روابط سريعة</h4>
            <a href="/">الرئيسية</a>
            <a href="/blog/">المدونة</a>
            <a href="/about">من نحن</a>
            <a href="/contact">اتصل بنا</a>
        </div>

        <div class="footer-col">
            <h4>الصفحات القانونية</h4>
            <a href="/legal/privacy">سياسة الخصوصية</a>
            <a href="/legal/terms">شروط الاستخدام</a>
            <a href="/legal/disclaimer">إخلاء المسؤولية</a>
        </div>

        <div class="footer-col">
            <h4>اتصل بنا</h4>
            <p>الرياض - حي الياسمين</p>
            <p>+966 533221169</p>
            <p>contact@gimahpro.com</p>
        </div>
    </div>

    <div class="copy">
        جميع الحقوق محفوظة © 2026 قمة التميز للاستشارات المالية والإدارية
    </div>
</footer>
