 <header>
    <a href="#home" class="brand-name">
        <img src="/assets/images/gimahpro-logo.png" class="logo" alt="GimahPro Logo">
        قمة التميز
    </a>
       <nav>
            <a href="/">الرئيسية</a>
            <a href="/about.html">من نحن</a>
            <a href="/#services">الخدمات</a>
            <a href="/#why-us">لماذا نحن</a>
            <a href="https://www.gimahpro.com/#latest-posts">أحدث المقالات</a>
           <a href="https://www.gimahpro.com/blog/">المدونة</a>
            <a href="#contact" class="nav-cta">تواصل معنا</a>
        </nav>
    </header>
