<header>
    <a href="/" class="brand-name">
       <img src="/assets/images/gimahpro-logo.png"
     class="logo"
     alt="شعار قمة التميز للاستشارات المالية والإدارية"
     title="قمة التميز للاستشارات المالية والإدارية">
        قمة التميز
    </a>
    <nav>
        <a href="/">الرئيسية</a>
        <a href="/about/">من نحن</a>
        <a href="/services/">الخدمات</a>
        <a href="/#why-us">لماذا نحن</a> 
        
        {% if page.url == "/blog/" %}
            <a href="/archive/">التصنيفات</a>
        {% else %}
            <a href="/#latest-posts">أحدث المقالات</a>
        {% endif %}

        <a href="/blog/">المدونة</a>
        <a href="/contact/" class="nav-cta">تواصل معنا</a>
    </nav>
</header>
