---
layout: default
---

<article class="post-wrapper">
    <div class="post-container">
        
        <div class="post-meta-box">
            <span class="meta-category">{{ page.category }}</span>
            <span class="meta-brand">قمة التميز</span>
        </div>

        <h1 class="main-article-title">{{ page.title }}</h1>

       {% if page.image %}
<img src="{{ page.image | relative_url }}"
     alt="{{ page.title }}"
     title="{{ page.title }}"
     class="post-featured-image">
{% endif %}
        <div class="post-content">
            {{ content }}
        </div>

        <a href="/blog/" class="back-to-blog">← العودة إلى قائمة المدونة</a>
    </div>
</article>
